streamlit
pandas
numpy
altair
matplotlib
plotly
Pillow
sqlalchemy
pymysql
mysql-connector-python
python-dotenv
fpdf2
pdfkit
wkhtmltopdf
openpyxl
requests
beautifulsoup4
selenium
webdriver-manager
gspread
google-auth
